.center-image{
  position: absolute;
  width: 100%;
  height: 610px;
  margin-top: 290px;
}

.zed_center{
  left: 60px;
  position: absolute;
  width: 1000px;
  height: 600px;
  opacity: .4;
}

.faker_center{
  position: absolute;
  margin-top: 11%;
  top: 50%;
  left: 31%;
}

.side-banner{
  width: 100%;
  height: 100vh;
}

.insta{
  width: 250px;
  height: 45px;
  position: absolute;
  top: 700px;
  left: -40px;
}

.insta:hover{
  cursor: pointer;
}

.twitch{
  width: 200px;
  height: 50px;
  position: absolute;
  top: 470px;
  right: 20px;
}

.twitch:hover{
  cursor: pointer;
}

.name{
  position: absolute;
  top: 350px;
  left: -37pxs;
}

.birth{
  position: absolute;
  top: 490px;
  left: -70px;
}

.mid{
  position: absolute;
  top: 560px;
  right: 10px;
}

.say{
  position: absolute;
  top: 700px;
  right: -180px;
}

.nick{
  position: absolute;
  top: 600px;
  left: 0;
}

.facebook{
  width: 250px;
  height: 45px;
  position: absolute;
  top: 365px;
  right: 0px;
}

.facebook:hover{
  cursor: pointer;
}


